
body{
  margin:auto;
}

.container{
  width: 600px;
  font-family: georgia;
  background-color: #E8F2D7;
}
#header{
  text-align: center;
  background-color: #9AB368;
  color: #E8F2D7;
  text-transform: capitalize;
  font-weight: bold;
}

label.form-element{
  font-weight: bold;
  color: #181916;
  padding-left: 10px;
}

label.form-element input:not([type="checkbox"]), label.form-element select{
 position: absolute;
 height: 20px;
 border: 2px solid #2E7950;
 left: 200px;
 width: 250px;
}

#aboutme{
  width: 550px;
  height: 250px;
  padding: 20px;
  border: 2px solid #2E7950;
}

span.buttonmessage{
  width: 100%;
  position: relative;
  left: 150px;
}

input[type="submit"]{
  position: relative;
  left: 265px;
  font-family: georgia;
  background-color: #404F26;
  color: #EBF5DB;
  height: 25px;
  border-radius: 10px;
}
